<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menudemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.task.MessionModifyActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.task.MessionDetailsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.task.MessionCancelActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.task.PublishActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.ForgetpsdActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.Settings_SafetyActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.Settings_PayActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.Settings_CommonActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.task.TasklistActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.WalletActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.PersonalinfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.home.SettingsActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"   />
        <activity android:name=".ui.task.MyPublishActivity"/>
        <activity android:name=".ui.task.MyAcceptActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>